name: PR Build Check

on:
  pull_request:
    paths:
      - "src/**"
      - "!**/*.md"
      - "!**/CONTRIBUTING*"
      - "!.github/**"

permissions:
  contents: read

jobs:
  pr-check:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Build
        run: dotnet build src/Yaap.sln -c ${{ matrix.configuration }}

      - name: Run UTs
        run: dotnet test src/Yaap.sln -c ${{ matrix.configuration }} --no-build
